@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Livvic:300,400,600&display=swap');

$family-sans-serif: 'Livvic', sans-serif;

/* $orange: #ff921c;
$dark-blue: #142846;
$darkest-blue: #0a182c; */

$lighter-green: #dbf8db;
$light-green: #bedcbe;
$green: #3ca03c;
$dark-grey-green: #296429;
$darker-grey-green: #204d20;

$primary: $green;
$light: $lighter-green;
$dark: $green;

$navbar-background-color: $light-green;
$body-background-color: $lighter-green;
$footer-background-color: $light-green;
$box-background-color: $light-green;
$title-color: $primary;
$subtitle-color: $dark-grey-green;
$text: $darker-grey-green;

@import "../../../node_modules/bulma/bulma.sass";

.logo {
    width: 5rem;
}